[build]
  command = "npm run build"
  publish = "build"

[dev]
  command = "npm start"
  port = 3000

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production]
  command = "npm run build"
  publish = "build"

[context.production.environment]
  REACT_APP_FIREBASE_API_KEY = ""
  REACT_APP_FIREBASE_AUTH_DOMAIN = ""
  REACT_APP_FIREBASE_DATABASE_URL = ""
  REACT_APP_FIREBASE_PROJECT_ID = ""
  REACT_APP_FIREBASE_STORAGE_BUCKET = ""
  REACT_APP_FIREBASE_MESSAGING_SENDER_ID = ""
  REACT_APP_FIREBASE_APP_ID = ""
  REACT_APP_FIREBASE_MEASUREMENT_ID = ""
